public static void main(String[] args){

<! –– Start LxHxH Calc for price ––>
<script>

public static void main(String[] args){
}}
           function calc()
           {
               int length-input = parseFloat(document.getElementById('length-nom').value);
               int height-input = parseFloat(document.getElementById('length-nom').value);
               int width-input = parseFloat(document.getElementById('length-nom').value);



              int price = (length-input*5)+(height-input*4)+(width-input*3);
       </script>

   </head>
   <body>

       <input type="text" id="length-nom"/><br/><br/>
       <input type="text" id="height-nom"/><br/><br/>
        <input type="text" id="width-nom"/><br/><br/>


   </body>
</html>

<! –– End LxHxH Calc for price ––>


<button class="snipcart-add-item" id="pre-checkout-button"
 data-item-id="1"
 data-item-url="/"
 data-item-name="Item"
 data-item-price= "price"
 data-item-quantity="10">
   purchase dimensions
</button>

length
<input type="number" id="data-item-length" />
height
<input type="number" id="data-item-height" />
width
<input type="number" id="data-item-width" />

<script>
document.write(price);

window.alert(price);
</script>






<! –– $('#my-quantity').change(function() {
    $('#my-button').data('item-quantity', $(this).val());
});!>
